@{
    ViewData["Title"] = "401 - Unauthorized";
}
<h1>401 - Unauthorized</h1>
<p>You are not authorized to access this resource.</p>
<p><a asp-controller="Home" asp-action="Index">Return to homepage</a></p>