@{
    ViewData["Title"] = "418 - I'm a teapot";
}
<h1>418 - I'm a teapot</h1>
<p>I'm a little teapot, short and stout.<br>
Here is my handle and here is my spout.<br>
When I get all steamed up, hear me shout.<br>
Tip me over and pour me out!</p>
<p><a asp-controller="Home" asp-action="Index">Return to homepage</a></p>