@{
    ViewData["Title"] = "501 - Not Implemented";
}
<h1>501 - Not Implemented</h1>
<p>The server does not support the functionality required to fulfill the request.</p>
<p><a asp-controller="Home" asp-action="Index">Return to homepage</a></p>